* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.counter {
  display: flex;
  overflow: hidden;
  background: #d2d2d2;
  flex-wrap: wrap;
  padding: 0 12px;
  justify-content: center;
}

.counter-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.counter-header h1 {
  margin: 0;
  padding: 8px;
  font-size: 1.5rem;
}

.countdown {
  display: flex;
  padding: 8px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.countdown-item {
  background: #fff;
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
  position: relative;
}

.countdown-item::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 3px;
  right: -10px;
  bottom: 50%;
  background-color: black;
}

.countdown-item:last-child::after {
  content: unset;
}

.value {
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}
